html {
    border-style: solid;
    border-color: purple;
    border-width: 2.5em;
}
body {

    text-align: center;
    background-image: url("./images/code-background.png");
    background-size: 100%;
    font-family: Calistoga;
}

header {
    /*set font-size*/
    font-size: larger;
    /*set text-color*/
    color: rgb(199, 122, 209);
    /*set font to bold*/
    font-weight: bold;
    /*center header text*/
    text-align: center;
}
#title-wrapper {
        /*add padding to header*/
        border-style: solid;
        border-radius: 50%;
        border-color: rgb(44, 255, 62);
        padding-top: 1em;
        padding-bottom: 1em;
        position: relative;
        top: 2em;
        display: inline-block;
        width: 20em;
        /*underline header text*/
        text-decoration: underline;
        text-decoration-color: rgb(240, 166, 250);
        /*Add background color to header*/
        background-color: rgb(5, 97, 158);
}

main {
    /*set background color for main*/
    position: relative;
    display: inline-block;
    top: 3em;
    background-color: peachpuff;
    padding-top: 1em;
    padding-bottom: 1em;
    border-style: solid;
    border-radius: 25%;
    border-color: rgb(44, 255, 62);
}
article {
    text-align: justify;
    padding: 1em;
}
h3 {
    text-decoration: underline;
}
.intro {
    color: rgb(65, 32, 70);
    font-size: 1.2em;
}
#aims {
    font-size: 1.6em;
}
nav {
    color: purple;
    border-style: solid;
    border-color: white;
    width: 50em;
    display: inline-block;
    position: relative;
    top: 4.5em;
    background-color: rgb(46, 151, 90);
}   
#nav-title {
    text-align: center;
    font-size: 1.8em;
}

.nav-link {
    font-size: 1.5em;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0em;
    padding-bottom: 1em;
    display: inline-block;
}
