body {
    background-image: url("./images/code-background.png");
    background-size: auto;
}

header {
    /*add padding to header*/
    padding-top: 15em;
    padding-bottom: 0em;
    /*Add background color to header*/
    background-color: rgb(5, 97, 158);
    /*set font to bold*/
    font-weight: bold;
    /*underline header text*/
    text-decoration: underline;
    /*center header text*/
    text-align: center;
}

main {
    /*set background color for main*/
    background-color: rosybrown;
}
#nav-bar {
    /*set element to display as block*/
    display: block;
    /*Set border perameters*/
    border-style: solid;
    border-color: rgb(32, 30, 187);
    border-width: 5px;
    /*set background color for nav-bar*/
    background-color: pink;
}
#nav-title {
    text-align: center;
}
nav {
    float: left;
}
main {
    padding-left: 20em; 
}
article {
    text-align: justify;
}
h3 {
    text-decoration: underline;
}