
header {
    background-color: aqua;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    display: block;
    width: 100%;
    position: absolute;
    top: 0em;
    left: 0em;
}

article {
    position: relative;
    top: 25em;
    font-size: 1em;
}

h3 {
    text-decoration-line: underline;
    font-size: 2em;
    font-weight: bold;
}

.section {
    margin-bottom: 1em;
}

footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

picture {
    position: fixed;
    right: 5em;
    bottom: 10em;
    z-index: -1;
}

#margin-diagram {
    height: auto;
    width: 25em;
}