header {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
.link-list {
    border-style: solid;
    border-style: solid;
    border: rgb(32, 30, 187);
    border-width: 10px;
}
nav {
    position: absolute;
}

h3 {
    text-decoration: underline;
}