body {
    background-color: black;
}

header {
    display:block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(128, 214, 253);
    text-decoration: underline;
}
nav {
    display:block;
    position: absolute;
    width: 100%;
    top: 11em;
    
}
.container {
    position: absolute;
    max-width: 100%;
    min-width: 1000px;
    text-align: center;
}

a{
    color: inherit;
}
.navLink {
    color: pink;
    display: inline-block;
}

#blogLink {
    padding-left: 15em;
}
.main {
    border-style: solid;
    border-color: rgb(128, 214, 253);
    border-width: 1em;
    position: relative;
    display:block;
    margin-top: 15em;
}

#img {
  display: inline-block;
  position: relative;
  left: 20em;
  top: -5em; 
}

.codeBlock {
    padding: 0.5em;
    border-style: dashed;
    border-color: red;
    border-width: 0.2em;
}
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}
article{
    margin: 4em;
    color: white;
}

h3 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.5em;
}

h4 {
    font-weight: bold;
    font-size: 1.2em;
}

#mind_as_muscle {
  max-width: 15em;
  height: auto;
}